@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.patientlist-allbranch-box{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 98%;

}

.patientlist-allbranch-header {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    flex-direction: row;
    width: 98%;

}
.patientlist-allbranch-header h1 {
    font-size: 2.0em;
    font-weight: 600;
    color: #005590;
    margin-right: 50px;
}

.allbranch-allpatients-container {
    margin-top: 20px; 
    margin-left: 20px;
    margin-right: 20px;
    width: 92%;  
}

.sortbutton {
    background-color: #007bff;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sortbutton:hover {
    background-color: #0056b3;
}

.sort-dropdown {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.sort-dropdown:hover, .sort-dropdown:focus {
    background-color: #e9ecef;
    color: #212529;
}